{% extends 'base.html' %}
{% load static %}
{% block head-extras %}
<style>
    li.list-group-item a:link {
        text-decoration: none;
    }

    input {
        font-weight: bold;
    }

    .btn-save,
    .btn-cancel {
        font-size: 0.9rem;
        border-color: #ced4da;
        width: 70px;
    }

    .alert-danger {
        color: #721c24;
        background-color: #f8d7da;
    }
</style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row mt-3 mb-3">
        <div class="col-lg-8 mb-3 ms-auto me-auto">
            <ul class="list-group">
                <li class="list-group-item">
                    <h5>My Account</h5>
                </li>
                <li class="list-group-item">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="row mt-3 pb-5">

                            <div class="col-lg-5 ms-auto me-auto">
                                <label for="first-name">First Name:</label>
                                <input type="text" class="form-control-plaintext mb-2" name="first-name" id="first-name"
                                    value="{{user.first_name}}" disabled>
                                <label for="last-name">Last Name:</label>
                                <input type="text" class="form-control-plaintext mb-2" name="last-name" id="last-name"
                                    value="{{user.last_name}}" disabled>
                                <label for="email">Email:</label>
                                <input type="text" class="form-control-plaintext mb-2" name="email" id="email"
                                    value="{{user.email}}" disabled>
                                <label for="phone">Phone:</label>
                                <input type="text" class="form-control-plaintext mb-3" name="phone" id="phone"
                                    value="{{user.phone}}" disabled>
                            </div>
                            <div class="col-lg-5 ms-atuo me-auto">
                                <label for="old-password" class="mb-2">Old Password:</label>
                                <input type="password" class="form-control mb-3" name="old-password" id="old-password"
                                    required>
                                <label for="new-password" class="mb-2">New Password:</label>
                                <input type="password" class="form-control" name="new-password" id="new-password"
                                    minlength="8" required>
                                <p style="font-size: 11px; margin-top: 4px; color:#666 ">Password must contain at
                                    least 8
                                    characters.</p>
                                <label for="new-password-confirmation" class="mb-2">Confirm New Password:</label>
                                <input type="password" class="form-control mb-3" name="new-password-confirmation"
                                    id="new-password-confirmation" minlength="8" required>
                                {% for message in messages %}
                                <div class="alert alert-danger" role="alert">
                                    {{message}}
                                </div>
                                {% endfor %}
                                <div class="text-end">
                                    <button type="submit" class="btn btn-outline-primary btn-save"
                                        id="save">Save</button>
                                    <input type="button" class="btn btn-outline-primary btn-cancel" value="Cancel"
                                        onclick="cancelForm()">
                                </div>
                            </div>
                        </div>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block js-extras %}
<script>
    function cancelForm() {
        location.href = "{% url 'account' %}"
    }
</script>
{% endblock %}