{% extends 'base.html' %}
{% load static %}
{% block head-extras %}
<style>
    .btn {
        padding: .375rem .75rem;
        height: 38px;
        float: right;
    }
</style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row mt-3 mb-5" style="min-height: 350px;">
        <div class="col-lg-7 ms-auto me-auto mt-4">
            <ul class="list-group">
                <li class="list-group-item">
                    <h5>Enter New Password</h5>
                </li>
                <li class="list-group-item pb-5">
                    <p class="mb-4 mt-2">
                        Please enter your new password twice so we can verify you typed it in correctly.
                    </p>
                    <form method="POST">
                        {% csrf_token %}
                        <label for="{{form.new_password1.auto_id}}" class="mb-2">New Password:</label>
                        {{form.new_password1}}
                        <label for="{{form.new_password2.auto_id}}" class="mb-2">Confirm Password:</label>
                        {{form.new_password2}}
                        <input type="submit" value="Change Password" class="btn btn-outline-primary btn-sm mt-2">
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block js-extras %}
<script>
    document.getElementById('id_new_password1').classList.add('form-control')
    document.getElementById('id_new_password1').classList.add('mb-2')
    document.getElementById('id_new_password2').classList.add('form-control')
    document.getElementById('id_new_password2').classList.add('mb-2')
</script>
{% endblock %}