{% extends 'base.html' %}
{% load static %}
{% block head-extras %}
<style>
    .btn {
        padding: .375rem .75rem;
        height: 38px;
    }

    a.btn:hover {
        color: white !important;
    }
</style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row mt-3 mb-5" style="min-height: 350px;">
        <div class="col-lg-7 ms-auto me-auto mt-5">
            <ul class="list-group">
                <li class="list-group-item">
                    <h5>Password Reset Complete</h5>
                </li>
                <li class="list-group-item pb-5">
                    <p class="mb-4 mt-2">
                        Your password has been set. You may go ahead and log in now.
                    </p>
                    <a href="{% url 'login_page' %}" class="btn btn-outline-primary btn-sm">Login</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}